# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Server
server.py
requirements.txt

# Backup versions
5S.html
5S_cloud.html
